<link rel="stylesheet" href="/css/global.css" />
<link rel="stylesheet" href="/css/Admin.css" />
<link rel="stylesheet" href="/css/index.css" />

<script type="module" src="/js/Admin/Admin.js" defer></script>
<script type="module" src="/js/Admin/Ticket.js" defer></script>
<script type="module" src="/js/Admin/House.js" defer></script>
<script type="module" src="/js/Admin/Bus.js" defer></script>

<div id="admin-wrapper">
  <ul id="admin-tab-select">
    <li value="0">Quản lí nhà xe</li>
    <li value="1">Quản lí xe</li>
    <li value="2"><a href="/admin/route_detail"> Quản lí chuyến xe</a></li>
    <li value="3">Quản lí vé xe</li>
  </ul>

  <ul id="admin-tab-display">
    {{!-- Quản lí nhà xe --}}
    <li class="js-tab-display" style="height: 100%; display:block">
      <section class="tab-display ">
        <section class="tab-display-option">
          <div id="house-refresh-btn"> REFRESH </div>
          <div id="house-add-btn"> THÊM NHÀ XE </div>
          <ul id="house-display-list"></ul>
        </section>

        <section class="tab-display-form">
          <form class="display-form" id="house-display-form" style="display: flex;flex-direction:column">
            <label>
              <span>House ID:</span>
              <input name="house-id" type="number" readonly />
            </label>
            <label>
              <span>House Name:</span>
              <input name="house-name" type="text" placeholder="Bus House Name" required />
            </label>
            <input type="submit" value="Submit Bus House" />
          </form>
        </section>
      </section>
    </li>

    {{!-- Quản lí xe --}}
    <li class="js-tab-display" style="height: 100%; display:none">
      <section class="tab-display">
        <section class="tab-display-option">
          <div id="bus-refresh-btn">REFRESH</div>
          <div id="bus-add-btn">ADD BUS</div>
          <ul id="bus-display-list"></ul>
        </section>

        <section class="tab-display-form">
          <form class="display-form" id="bus-display-form">
            <label>
              <span>Bus id</span>
              <input name="busId" type="number" readonly="true" required="true" />
            </label>
            <label>
              <span>Bus plate</span>
              <input name="plate" type="text" required />
            </label>
            <label>
              <span>Bus type</span>
              <input name="busType" type="number" min="1" max="3" required />
            </label>
            <label>
              <span>Bus seats</span>
              <input name="seats" min="1" type="number" required />
            </label>
            <label>
              <span>BusHouse</span>
              <select name="house" id="bus-house-select" required>
              </select>
            </label>
            <input type="submit" value="Submit Bus" />
          </form>
        </section>
      </section>
    </li>

    {{!-- Quản lí chuyến xe --}}
    <li class="js-tab-display" style="height: 100%; display:none">
      <section class="tab-display">
        <section class="tab-display-option">
        </section>

        <section class="tab-display-form">
        </section>

      </section>

    </li>

    {{!-- Quản lí vé xe --}}
    <li class="js-tab-display" style="height: 100%; display:none">
      <section class="tab-display">
        <section class="tab-display-option">
          <div id="ticket-refresh-btn">REFRESH</div>
          <ul id="ticket-display-list"></ul>
        </section>

        <section class="tab-display-form">
          <form class="display-form" id="ticket-display-form">
            <label>
              <span> TicketID: </span>
              <input name="ticket-id" type="number" readonly />
            </label>
            <label>
              <span>Comment</span>
              <textarea name="comment" rows="3" cols="12" placeholder="Ticket Commet"></textarea>
            </label>
            <label>
              <span> Ticket Status:</span>
              <select name="ticket-status">
                <option value="WAITING">WAITING</option>
                <option value="PAID">PAID</option>
                <option value="CANCELED">CANCELED</option>
              </select>
            </label>
            <input type="submit" value="Update Ticket" />
          </form>
        </section>
      </section>
    </li>


  </ul>
</div>