* {
  padding: 0;
  margin: 0;
}

#admin-wrapper {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  background-color: azure;
  height: 100vh;
}

#admin-tab-select {
  background-color: #ace4f8;
}

#admin-tab-select>li {
  min-height: 4rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

#admin-tab-select>li:hover {
  background-color: #56b3ac;
}

#admin-tab-display {
  background-color: #e3e5e4;
}


.tab-display {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  min-height: 95%;

}
.tab-display-form {
  min-height: 95%;
  margin-top: 3rem;
}
.tab-display-option>ul>li, #ticket-refresh-btn,
#house-refresh-btn,#house-add-btn,
#bus-refresh-btn,#bus-add-btn {
  min-height: 4rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.tab-display-option>ul>li:hover, #ticket-refresh-btn:hover,
#house-refresh-btn:hover,#house-add-btn:hover,
#bus-refresh-btn:hover,#bus-add-btn:hover {
  background-color: #303246;
  color: white;
}

#ticket-display-form {
  display: flex;
  flex-direction: column;
}

.display-form > label{
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  margin: 0.2rem 0;
}
.display-form > label > input{
  padding: 0.3rem;
}
.display-form > input[type=submit]{
  padding: 0.3rem;
}
.display-form {
  display: flex;
  flex-direction: column;
}