#bus_house_image {
  overflow: hidden;
}

.bus_img_slide {
  display: flex;
  max-width: calc(100% - 0.5rem);
  margin-inline: 0.5rem;
  border: 1px solid blue;
  overflow: scroll;
  min-height: 600px;
  max-width: 600px;
  margin: 0 auto;
}

.bus_img_slide>img {
  flex-shrink: 0;
  width: 100%;
  height: inherit;
  border: 1px solid red;
  object-fit: fill;
}

.vexere_bushouse_name_wrapper {
  margin: 0 auto;
  text-align: center;
}

.vexere_bushouse_name_wrapper>h1 {
  font-size: xx-large;
}

.vexere_rating_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin:0 auto;
}