* {
  padding: 0;
  margin: 0;
}

.vexere_info_wrapper {
  padding: 1rem;
  margin: 0.5rem;
  border: 0.5px solid rgba(169, 169, 169, 0.615);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* max-height: 150px; */
  border-radius: 1rem;
}

.vexere_info_wrapper:hover {
  box-shadow:
    0 1px 1px rgba(0, 213, 255, 0.12),
    0 2px 2px rgba(0, 213, 255, 0.12),
    0 4px 4px rgba(0, 213, 255, 0.12),
    0 8px 8px rgba(0, 213, 255, 0.12),
    0 16px 16px rgba(0, 213, 255, 0.12);
}

.vexere_bus_image_wrapper {
  border: 0.5px solid rgba(169, 169, 169, 0.615);
  margin: 0.5rem;
  min-height: 100px;
  background-image: url("../assets/bus-img2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-color: azure;
}

.vexere_bus_image_wrapper>img {
  width: calc(100% - 1rem);
  max-height: 100px;
  object-fit: contain;
}

.vexere_time_container {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
}

.vexere_departure_icon {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vexere_departure_icon img {
  height: 100%;
  max-height: 20px;
}

.vexere_gia_brief_info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.vexere_info_action {
  display: flex;
  place-items: center;
}

.vexere_info_action>* {
  margin: 0.5rem;
  cursor: pointer;
}

.vexere_info_action>button {
  padding: 1rem 2rem;
}


/* Bảng chi tiết */

.vexere_detail_info_container {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-inline: 3rem;
}

.vexere_detail_info_select_tab {
  display: grid;
  flex-direction: row;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);

}

.vexere_detail_info_select_tab>button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.vexere_bus_image_slider_wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;

  border: 1px solid red;
  margin: 0.5rem;
}

.vexere_bus_image_slider {
  border: 1px solid purple;
  display: flex;
  overflow-x: auto;
  height: 100%;
}

.vexere_bus_image_slider>.vexere_bus_image_slider_display_img {
  width: 100%;
  border: 1px solid teal;
  float: left;
  flex-shrink: 0;
}

.vexere_utility_wrapper {
  max-width: 800px;
  margin: 0.5rem;
}

.vexere_utility_list {
  list-style-type: none;
}

.vexere_utility_list>li {
  background-color: gainsboro;
  padding: 1rem 0.5rem;
  border-bottom: 2px solid black;
}

.vexere_from_to_detail_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  place-items: center;
  margin: 0.5rem;
}

.vexere_from_to_detail_wrapper p {
  grid-column: 1 / 3;
  margin: 1rem;
}

.vexere_from_to_detail_wrapper>ul {
  list-style-type: none;
}

.vexere_terms_details {
  margin: 2rem;
}

.vexere_terms_details>ul {
  margin-left: 2rem;
}

.vexere_rating_item {
  display: grid;
  margin: 0.5rem;
  grid-template-rows: 0.5fr 1.5fr;
}

.vexere_rating_wrapper {
  max-width: 500px;
}

.review_info {
  display: flex;

  max-height: 100px;
  place-items: center;
}

.review_info>img {
  object-fit: contain;
  max-width: 50px;
  max-height: 50px;
}

.review_info>h3 {
  justify-self: baseline;
}

.review_info>img {
  border-radius: 50%;
}

.js-ticket-price {
  color: #1890ff;
}


.vexere_checkout_container {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-inline: 3rem;
}
.vexere_checkout_container > section {
  min-height: 100px;
  max-height: 500px;
  overflow: scroll;
}
.vexere_checkout_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vexere_checkout_nav>button {
  flex-basis: 20%;
}

.vexere_checout_seat_select {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vexere_checout_seat_select_instruction {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vexere_checout_seat_select_action {
  margin: 1rem;
  /* display: grid;
  grid-template-columns: repeat(auto-fill,minmax(1rem,3rem)); */
  display: flex;
  justify-content: center;
}

.vexere_checout_seat_select_action>ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: 2rem;
  width: 100%;
  width: fit-content;
}

.vexere_checout_seat_select_action>ul>li {
  width: fit-content;
  font-size: 2rem;
}

.vexere_checkout_location_select{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  width: 100%;
  justify-items: center;
}

.vexere_checkout_info_select{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vexere_checkout_info_select > form{
  min-width: 400px;
}
.vexere_checkout_info_select > form > label >*{
  display: block;
  width: 90%;
}
@media only screen and (max-width:600px) {
  .vexere_bus_image_slider_wrapper {
    width: 100vw;
    height: 100vw;
  }

  .vexere_detail_info_container {
    margin: 0;
  }
}

;