#banner {
	background: url(/assets/leaderboard.png);
	background-size: cover;
	height: max(800px, 80vh);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.other-links {
	background-color: lightgrey;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

ul > li {
	padding: 0.25rem 0rem;
}

ul > li > a {
	text-decoration: none;
}

.search_bar > table > thead div {
	width: 100%;
}
.search_bar {
	display: grid;
	place-items: center;
	width: 100%;
}
.search_bar > table {
	width: 100%;
}
.auto_complete_place {
	margin-top: 0.5rem;
	position: absolute;
	width: 95%;
	overflow: auto;
	z-index: 100;
	max-height: 250px;
	border-radius: 0.5rem;
	overflow: hidden;
    display: none;
}
.auto_complete_place > ul {
	border-radius: 0.5rem;
}
.auto_complete_place > ul > li {
	padding-inline: 0.5rem;
	cursor: pointer;
}
.auto_complete_place > ul > li {
	padding-inline: 0.5rem;
	cursor: pointer;
}
.auto_complete_place > ul > li:hover {
	background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
.auto_complete_place > ul > li:first-of-type {
	border-radius: 0.5rem 0.5rem 0 0;
}
.auto_complete_place > ul > li:last-of-type {
	border-radius: 0 0 0.5rem 0.5rem;
}
.auto_complete_place > ul {
	background-color: #fafafa;
}
.search_bar > table > tbody > tr:first-of-type > td {
	position: relative;
}


