* {
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 5em 9em;
}

/* Change infor */

.user-infor {
  margin-bottom: 3em;
}

.user-infor>.user-image {
  border-radius: 20%;
}

.user-infor>.user-image:hover {
  cursor: pointer;
}

.user-login-name {
  margin-left: .5em;
  font-weight: 500;
}

.user-login-name:hover {
  cursor: pointer;
}

.user-infor {
  display: flex;
  align-items: center;
}

.sidebar-display {
  color: black !important;
}

.sidebar-navigation {
  border-radius: 5px;
  border: 1px;
  width: 20em;
  height: 21em;
  border-style: solid;
}

.user-rank-span {
  font-weight: 600;
}

.sidebar-list>li {
  margin-bottom: 1em;
  padding-bottom: 0.4em;
}

.sidebar-list>li:last-child {
  color: #FFCC33;
}

.sidebar-list>li:hover {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.sidebar-navigation>ul>li {
  list-style-type: none;
  padding-right: 2em;
}

.user-change-acount-information {
  margin-right: 10em;
}

.container label {
  display: block;
  text-align: right;
  clear: right;
  line-height: 250%;
}

.container input {
  outline: none;
  padding: .8em;
  width: 30em;
  font-size: .9em;
  border-radius: .2em;
  float: right;
  margin: 0 0 1em 2em;
}

.container .birthday-lable {
  display: inline-block;
}

.container input[type=date] {
  width: 33.99em;
  height: 1.9em;
  font-size: .8em;
}

.container .save-button {
  font-weight: 600;
  font-size: 1.1em;
  margin-left: 33em;
  border: none;
  background-color: #FFCC33;
  padding: .5em 1em;
  cursor: pointer;
  border-radius: 10%;
  opacity: 0.8;
}

.container .save-button:hover {
  transform: scale(1.1);
  transition: .3s ease-in-out;
}

.mgl5 {
  margin-left: 5em;
}

/* User rank */
.user-rank-display {
  margin-top: 4em;
  margin-right: 34em;
}

.user-rank-display>h3 {
  font-size: 2em;
}

/* Invoice-ticket */
.user-invoice-ticket-display>.tab {
  width: 50em;
}

.tab>div>.tab-links {
  font-size: 1em;
  padding: 1em;
  display: inline-block;
  border: none;
  background-color: #fff;
}

.tab>div>.tab-links:not(:first-child) {
  margin-left: 16em;
}

.tab>div>.tab-links:hover {
  border: none;
  cursor: pointer;
}

.book-ticket-span>a {
  text-decoration: none;
  color: #0A6EBD;
}

/* Promotion Display */

.user-promotion-display {
  margin-top: 4em;
  margin-right: 43em;
}

/* Manage Card Display */

.user-manage-card {
  margin-top: 4em;
  margin-right: 41em;
}

/* Review Trip */

.user-review-trip {
  margin-top: 4em;
  margin-right: 37em;
}

/* Cart */

.active-tab {
  color: #0A6EBD;
  transition: .115s ease-in-out;

}

.active {
  display: block;
}

.unactive {
  display: none;
}