#banner {
    background: url(../../assets/leaderboard.png);
    background-size: cover;
    padding: 15rem 0;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

ul>li {
    padding: 0.25rem 0rem;
}

ul>li>a {
    text-decoration: none;
}

.item:hover,
.item:focus {
    background-color: #fafafa;
    color: #D1822B;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}


