<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chi Tiet</title>
  <link rel="stylesheet" type="text/css" href="/css/ChiTiet.css">
</head>

<body>
  <script rel="modulepreload" type="text/javascript" src="/js/ChiTiet/ChiTiet.js"></script>
  <h1>Đây là trang Chi Tiết</h1>

  <!-- Cửa sổ thông tin cơ bản -->
  <div class="vexere_thong_tin_wrapper">

    <!-- Hình xe -->
    <div class="vexere_hinhxe_wrapper">
      <img src="" alt="Hinh xe">
    </div>

    <!-- Thông tin cơ bản đi đến -->
    <div>
      <h3>An phú quý</h3>
      <p>Giường nằm 48 chỗ</p>
      <div class="vexere_thoigian_container">
        <div class="vexere_diden_icon">
          <img style="width: 100%;" alt="icon" />
        </div>
        <div>
          <h3>22:00</h3>
          Số 37 Ngõ 15 Ngọc Hồi Văn Phòng 37/15 Ngọc Hồi
        </div>
        <div>
          <h3>4:55</h3>
          <p>Bến xe con cuông</p>
        </div>

      </div>
    </div>

    <!-- Giá và chi tiết -->
    <div class="vexere_gia_chitiet">
      <h3>400.000 VND</h3>
      <div>
        <p>Còn 40 chỗ trống</p>
      </div>
      <div class="vexere_thongtin_action">
        <h4>Thông tin chi tiết 🔽</h4>
        <button>Đặt vé</button>
      </div>
    </div>

  </div>

  <!-- Bảng thông tin chi tiết -->
  <div class="vexere_bang_chi_tiet">
    <hr style="margin: 0.5rem 0 0.5rem 0 ;"/>

    <!-- Hình xe -->
    <div class="vexere_hinhxe_slider_wrapper">
      <div class="vexere_hinhxe_slider_display">
        <div class="vexere_hinhxe_slider_display_img">
          <img/>
        </div>
        <div class="vexere_hinhxe_slider_display_img">
          <img/>
        </div>
        <div class="vexere_hinhxe_slider_display_img">
          <img/>
        </div>
      </div>
    </div>

    <!-- Chính sách nhà xe  -->
    <div>

    </div>

  </div>

</body>

</html>