<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/Filter.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h2>Test Price Range Slider</h2>
    </header>
    <div class="price-input">
      <div class="field">
        <span>Min</span>
        <input type="number" class="input-min" value="2500">
      </div>
      <div class="separator">-</div>
      <div class="field">
        <span>Max</span>
        <input type="number" class="input-max" value="7500">
      </div>
    </div>
    <div class="slider">
      <div class="progress"></div>
    </div>
    <div class="range-input">
      <input id="min-price-slider" type="range" class="range-min" min="0" max="2000000" step="1000">
      <input id="max-price-slider" type="range" class="range-max" min="0" max="2000000" step="1000">
    </div>
  </div>
  <script src="/js/Filter/Filter.js" defer></script>

</body>

</html>